Selector {
  Property: value;
}
body {
  background-image: url(header.jpg);
  background-size: cover;
}
.container-1 {
  padding: 1em;
  margin-top: 4em;
  border-left: 10em;
  border-right: 2em;
}
.jumbotron {
  margin-left: 1em;
  margin-right: 1em;
}
img {
  border: solid white;
  height: 25rem;
}
.container-2 {
  margin-left: 15em;
  margin-right: 15em;
}
