Selector {
  Property: value;
}
body {
  background-image: url(header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container-1 {
  padding: 1em;
  margin-top: 4em;
  border-left: 10em;
  border-right: 2em;
  border-color: solid white;
}
.jumbotron {
  margin-left: 500px;
  margin-right: 500px;
  border: solid black;
  display: inline-block;
  border-color: white;
  color: black;
}
img {
  border: solid white;
  height: 25rem;
}
.container-2 {
  margin-left: 15em;
  margin-right: 15em;
}
